body {
    padding: 0;
    margin: 0;
    background-color: rgba(155, 155, 155, 0.2) !important;
}

.dropdown {
    display: inline !important;
    margin: 20px 2px 5px 10px !important;
}

.dropdown button {
    width: 100px;
}

.dropdown-font {
    width: 204px;
}

.dropdown-font-size {
    width: 100px;
}

.dropdown-menu {
    min-width: 1em !important;
}

.inputCust {
    margin-left: 35px !important;
}

.container {
    padding: 20px;
}

#my-canvas {
    background-color: white;
    margin: 0 auto;
    display: block;
    box-shadow: 1px 1px 1px;
}

.inputTextCust {
    font-size: 14px !important;
}

.icon {
    position: relative;
    display: inline-block;
    font-size: 59px;
    float: left;
    width: 100px;
    left: 110px;
    transition: : color .5s;
}

.icon:hover {
    color: orange;
    cursor: pointer;
}

.icon.selected {
    color: yellow;
}

.navbarr {
    height: 80px;
    background-color: rgba(50, 100, 200, 0.5);
    border-bottom: solid 6px rgba(50, 100, 200, 1);
    margin-bottom: 10px;
    padding-left: 220px;
}

.optionsLeft{
    position: relative;
    left: 220px;
}


.optionsRight{
    position: relative;
    left: 950px;
}

#words {
    width: 180px;
}
