body {
  padding: 0;
  margin: 0;
}

.dropdown {
  display: inline !important;
}

.dropdown button {
  width: 100px;
}

.dropdown-font {
  width: 204px;
}

.dropdown-font-size {
  width: 100px;
}

.dropdown-menu {
  min-width: 1em !important;
}

.container {
  padding: 20px;
}

#my-canvas {
  background-color: rgba(155, 155, 155, 0.2);
  margin: 0 auto;
  display: block;
  box-shadow: 1px 1px 1px;
}

.icon {
  position: relative;
  display: inline-block;
  font-size: 4em;
  float: right;
  width: 90px;
  top: 10px;
  transition: : color .5s;
}

.icon:hover {
  color: orange;
  cursor: pointer;
}

.icon.selected {
  color: yellow;
}

.navbarr {
  height: 100px;
  background-color: rgba(50, 100, 200, 0.5);
  border-bottom: solid 6px rgba(50, 100, 200, 1);
}
